[Unit]
Description=Execute clamdb duplicate checking every day at 06:00:00

[Timer]
OnCalendar=*-*-* 06:00:00
Unit=check-clamdb-duplicate.service

[Install]
WantedBy=multi-user.target
